$primary: #26DFD0;
$secondary: #F62AA0;
$light: #B8EE30;
$dark: #B4B4B3;


p {
  font-family: var(--roboto-font);
  font-size: 18px; 
}

h1 {
  font-family: var(--bebas-font);
  font-size: 30px; 
}




img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1,5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5 {
  overflow-wrap: break-word;
}